# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
dist/
build/

# --- Environnements ---
.venv/
.env
*.env
.conda/
ipykernel_*

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Caches / logs ---
*.log
*.tmp
*.bak
.cache/
pip-wheel-metadata/
**/__pycache__/

# --- Notebooks ---
.ipynb_checkpoints/

# --- Données & sorties locales ---
test_data/

# Modèles lourds
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.pkl
*.npz

# --- Images volumineuses (si non nécessaires dans le repo) ---
*.tif
*.tiff
*.nii
*.nii.gz
*.dcm
